<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Welcome to Captainsmiley server</h1>

  <h2>
    This is a site for test
  </h2>

  <p>Version sample_app med rails 3.2 <br>
  <a href="http://railstutorial.org">Ruby on Rails Tutorial</a>


  </p>

  <%= link_to "Sign up now!", signup_path, :class => "btn btn-lage btn-primary" %>

</div>

<%= link_to image_tag("rails.png", :alt => "Rails"), 'http://rubyonrails.org/' %>
